.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}

.cards * {
    box-sizing: border-box;
}

.card__image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
    border-left: 2px solid maroon;
    border-right: 2px solid maroon;
    border-top: 2px solid maroon;
    padding: 2px;
}

.card__content {
    line-height: 1.5;
    font-size: 1em;
    padding: 1px;
    background: #fafafa;
    border-left: 2px solid maroon;
    border-right: 2px solid maroon;
    border-bottom: 2px solid maroon;
}